body{
    background-image: url(src/image\ 3.png);
}
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
button {
    margin: 20px;
    margin-left: 100px
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.filter2{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 150px;
    height: 400px;
    background-color: black;
}
.custom-btn {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
}
.custom-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.custom-btn:before,
.custom-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.custom-btn:before {
    height: 0%;
    width: 2px;
}
.custom-btn:after {
    width: 0%;
    height: 2px;
}
.custom-btn:hover{
     background: transparent;
    box-shadow: none;
}
.custom-btn:hover:before {
    height: 100%;
}
.custom-btn:hover:after {
    width: 100%;
}
.custom-btn span:hover{
     color: rgba(2,126,251,1);
}
.custom-btn span:before,
.custom-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.custom-btn span:before {
    width: 2px;
    height: 0%;
}
.custom-btn span:after {
    width: 0%;
    height: 2px;
}
.custom-btn span:hover:before {
    height: 100%;
}
.custom-btn span:hover:after {
    width: 100%;
}
.filter{
    width: 35px;
    height: 35px;
    transform: rotateX(30);
}
.main-screen{
    perspective: 400px;
}
.custom-btn1 {
    width: 100px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.layers{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
}
.button1 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/gta5.png);
    background-size: cover;
  } 
  .button2 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/Gd.png);
    background-size: cover;
}
.button3 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/ets2.png);
    background-size: cover;
}
.button4 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/pubg.png);
    background-size: cover;
}
.button5 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/mudrunner.jpg);
    background-size: cover;
} .button6 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/rust.png);
    background-size: cover;
}
.button7 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/dota2.png);
    background-size: cover;
} 
.button8 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/stray.jpg);
    background-size: cover;
} 
.button9 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/terraria.png);
    background-size: cover;
} 
.button10 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/cs2.png);
    background-size: cover;
} 
.button11 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/minecraf.png);
    background-size: cover;
} 
.button12 {
    width: 200px;
    height: 200px;
    
    background-image: url(src/Лого2/payday2.png);
    background-size: cover;
    
}
.filter-btn{
    margin-right: 200px;
    margin-top: 20px;
}